<footer class="usa-footer usa-footer-slim usa-sans">
  <div class="cv-footer usa-grid">
    <div class="usa-width-one-half">
      <div class="usa-footer-logo">
        <a href="https://18f.gsa.gov"><img class="usa-footer-slim-logo-img" src="/img/18f-logo.svg" alt="Logo image"></a>
        <h3 class="usa-footer-slim-logo-heading">Compliance Viewer</h3>
      </div>
    </div>
    <div class="usa-width-one-half">
      <div class="usa-footer-logo cv-footer-github">
        <a href="https://github.com/18F/compliance-viewer" class="usa-footer-slim-logo-heading cv-footer-github-link">View our code on GitHub</a>
        <img class="usa-footer-slim-logo-img cv-footer-github-img" src="/img/github.png" alt="Logo image">
      </div>  
    </div>  
  </div>
</footer>
