<footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">

  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
    <div class="usa-footer-logo usa-width-one-half">
      <a class="usa-footer-logo-img" href="https://18f.gsa.gov">
        <img src="/images/18f-logo.svg" alt="18F logo" width="50">
      </a>
      <h3 class="usa-footer-logo-heading">Compliance Viewer</h3>
    </div>

    <div class="usa-footer-contact-links usa-width-one-half">
      <div class="usa-social-links">
        <a href="https://github.com/18F/compliance-viewer">
          View our code on GitHub
          <img src="/images/github.png" alt="Github logo" width="40">
        </a>
      </div>
    </div>
  </div>

</footer>
