<div class="welcome_message">
  <h2>Welcome to the Compliance Viewer!</h2>
  <p>
    The Compliance Viewer aims to make the Authority to Operate (ATO) process and regulatory compliance more tangible, actionable, and transparent for everyone involved.
  </p>
  <p>
    To do this, it automates the parts of the compliance process that can be automated — namely, scanning web applications — and helps with those that require a human touch. As the project evolves, its scope will expand to include much more than app scanning. For more on what we’ve got planned, check out our <a href="https://trello.com/b/QYPc32q1/compliance-toolkit">backlog</a>.
  </p>
  <p>
    If your project appears on the list below, click its name to view the latest compliance results. If it’s not on the list, click the <a href="https://github.com/18F/concourse-compliance-testing#adding-a-project">New Project?</a> link to add it. For a walk through of the ATO process, visit the <a href="https://pages.18f.gov/before-you-ship/">Before You Ship</a> guide.
  </p>
</div>

<h2>Projects</h2>
<table class="projects-table js-table-sortable">
  <thead>
    <tr>
      <th class="js-default-sort" data-sort="string-ins" scope="col">Project Name</th>
    </tr>
  </thead>
  <tbody>
    <% for summary in data.summaries %>
      <tr>
        <td>
          <a href="results/<%= summary.project_name %>/current" title="Details for <%= summary.project_name %>">
            <%= summary.project_name %>
            <span class="projects-table_scan-summary"><%= summary %></span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
