<h1>Projects</h1>
<% data.summaries.each do |summary| %>
  <h2><%= summary.project_name %></h2>
  <p>
    <a href="results/<%= summary.project_name %>/current">View Latest Scan</a>
  </p>
  <p>
    <a href="results/<%= summary.project_name %>">History</a>
  </p>
  <p>
    <%= summary %>
  </p>
<% end %>
