<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Compliance Viewer</title>
    <link href="/vendor/css/cloudgov-style.css" rel="stylesheet" />
  </head>

  <body>

<!-- start header -->
    <div class="usa-disclaimer">
      <div class="usa-grid">
        <span class="usa-disclaimer-official">An official website of the United States Government
          <img alt="US flag signifying that this is a United States Federal Government website" src="/vendor/img/us_flag_small.png">
        </span>
        <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
      </div>
    </div>
    <header class="header">
      <div class="header-wrap">

        <!-- start logo -->
        <h2 class="header-title">
          <a href="https://cloud.gov" class="logo" title="Home">
            <svg class="logo">
              <use xlink:href="/vendor/img/cloudgov-sprite.svg#logo"/>
            </svg>
          </a>
        </h2>
        <!--end logo -->

        <!-- start top navigation -->
        <nav class="header-side">
          <ul class="nav">
            <li class="nav-link">
              <a href="https://cloud.gov/#about">About</a> 
            </li>
            <li class="nav-link usa-current">
              <a href="/">Documentation</a> 
            </li>
            <li class="nav-link">
              <a href="https://cloud.gov/updates/">Updates</a> 
            </li>
            <li class="nav-link">
              <a href="https://cloudgov.statuspage.io/">Status</a> 
            </li>
            <li class="nav-link">
              <a href="https://console.cloud.gov/">Deck</a> 
            </li>
            <li class="nav-link">
              <a href="https://cloud.gov/#contact">Contact</a> 
            </li>
          </ul>
        </nav>
        <!-- end top navigation -->
      </div>

    </header>
    <!-- end header -->
    <div class="title_bar">
      <div class="nav_toggle"></div>
      <h1 class="title_bar-title">Compliance Viewer</h1>
    </div>
    <main class="sidenav-parent">
      <!-- <aside id="sidebar" class="sidenav">abc</aside>-->
      <div class="sidenav-main" id="main-content">
        <div class="usa-content content">
        <%= yield %>
        </div>
      </div>
    </main>
    <script src="/vendor/js/cloudgov-style.js"></script>
  </body>
</html>
