<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Compliance Viewer</title>
    <link href="/vendor/css/cloudgov-style.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <title>Compliance Viewer</title>
  </head>

  <body>

    <%= erb 'partials/header'.to_sym %>

    <main class="sidenav-parent">
      <div class="sidenav-main" id="main-content">
        <div class="usa-content content">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= erb 'partials/footer'.to_sym %>

    <script src="/vendor/js/cloudgov-style.js"></script>
  </body>
</html>
