
$cg-blue: #1f2c38;

.usa-alert-all-passing {
  background-image: none;
}

.usa-disclaimer {
  color: black;
}

.usa-disclaimer-stage {
  display: block;
}

.usa-disclaimer-stage a {
  font-weight: 600;
}

.logo {
  width: auto;
  float: left;
}

.logo h1 a {
  text-decoration: none;
  font-size: 2rem;
  color: #595959;
}

.nav {
  float: right;
}

.nav-link {
  padding-left: 1rem;
}

.sidenav-parent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects-table {

  td {
    padding: 0;
  }

  a {
    display: block;
    padding: 1.5em;
  }

  .projects-table_scan-summary {
    float: right;
  }
}


.statusbar {
  background-color: $cg-blue;
  width: 100%;
  padding: 1rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .statusbar__updated_at {
    float: right;
  }
}

.getting_started {
  margin-top: 1rem;
}

.updated_at {
  font-style: italic;
}

.download_data {
  float: right;
}

table {
  th[data-sort] {
    cursor: pointer;
    white-space: nowrap;
  }

  .sorting-asc::after,
  .sorting-desc:after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  .sorting-asc::after {
    border-bottom: 10px solid #fff;
  }

  .sorting-desc::after {
    border-top: 10px solid #fff;
  }
}

.alerts-table {
  .alerts-table_type {
    min-width: 240px;
  }

  .alerts-table_risk {
    min-width: 200px;
  }
}

.cv-footer {
  background: white;
  padding: 2rem;
  position: relative;
}

.usa-footer-slim-logo-img {
  max-width: 4rem;
}

.usa-footer-slim-logo-heading {
  padding-top: 1rem;
}

.cv-footer-github {
  float: right;
}

.cv-footer-github-img {
  float: right;
  max-width: 3rem;
  padding-top: 1rem;
}

.cv-footer-github-link {
  padding-top: 2rem;
  padding-right: 1rem;
}
