.usa-disclaimer {
  color: black;
}

.usa-disclaimer-stage {
  display: block;
}

.usa-disclaimer-stage a {
  font-weight: 600;
}

.logo {
  width: auto;
  float: left;
}

.logo h1 a {
  text-decoration: none;
  font-size: 2rem;
  color: #595959;
}

.nav {
  float: right;
}

.nav-link {
  padding-left: 1rem;
}

.sidenav-parent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cv-footer {
  background: white;
  padding: 2rem;
  position: relative;
}

.usa-footer-slim-logo-img {
  max-width: 4rem;
}

.usa-footer-slim-logo-heading {
  padding-top: 1rem;
}

.cv-footer-github {
  float: right;
}

.cv-footer-github-img {
  float: right;
  max-width: 3rem;
  padding-top: 1rem;
}

.cv-footer-github-link {
  padding-top: 2rem;
  padding-right: 1rem;
}
