.usa-alert-all-passing {
  background-image: none;
}

.usa-disclaimer {
  color: #000000;
}

.usa-disclaimer-stage {
  display: block;
}

.usa-disclaimer-stage a {
  font-weight: 600;
}

.logo {
  float: left;
  width: auto;

  h1 a {
    color: #595959;
    font-size: 2rem;
    text-decoration: none;
  }
}

.nav {
  float: right;
}

.nav-link {
  padding-left: 1rem;
}

.sidenav-parent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects-table {

  td {
    padding: 0;
  }

  a {
    display: block;
    padding: 1.5em;
  }

  .projects-table_scan-summary {
    float: right;
  }
}


.statusbar {
  background-color: #1f2c38;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;

  .statusbar__updated_at {
    float: right;
  }
}

.getting_started {
  margin-top: 1rem;
}

.updated_at {
  font-style: italic;
}

.download_data {
  float: right;
}

table {
  th[data-sort] {
    cursor: pointer;
    white-space: nowrap;
  }

  .sorting-asc::after,
  .sorting-desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    display: inline-block;
    margin-left: 4px;
  }

  .sorting-asc::after {
    border-bottom: 10px solid #fff;
  }

  .sorting-desc::after {
    border-top: 10px solid #fff;
  }
}

.alerts-table {
  .alerts-table_type {
    min-width: 240px;
  }

  .alerts-table_risk {
    min-width: 200px;
  }
}

.usa-footer {

  .usa-footer-primary-section {
    padding: 2em 0;
  }

  .usa-footer-logo-heading {
    display: inline;
    margin: 0;
    position: relative;
    top: -15px;
  }

  .usa-social-links img {
    position: relative;
    top: 10px;
  }
}
